{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="{% static 'chesswebsite/landingpage-style.css' %}">
    <script src="{% static 'chesswebsite/javascript/landingpage.js' %}"></script>
</head>
<body>
    <main>
        <form method="post" class="login-form"> {% csrf_token %}
            <h1>Chess Ratings</h1>
            <div class="input-container">
                <div class="input-box">
                    <label for="{{ form.username.id_for_label }}">Username</label>
                    <span class="input-field">{{ form.username }}</span>
                </div>
                <div class="input-box">
                    <label for="{{ form.password.id_for_label }}">Password</label>
                    <span class="input-field">{{ form.password }}</span>
                </div>
                <div class="input-box">
                    <input type="submit" id="login-btn" value="Login">
                </div>
                <div class="error-msg" id="error-msg"></div>
            </div>
        </form>
    </main>
</body>
</html>
